@import "variables";
@import "mixin";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
//@font-face {
//url('../fonts/DejaVuSansMono.ttf') format('truetype');
//url('../fonts/DejaVuSansMono-Bold.ttf') format('truetype');
//}
  * {
    box-sizing: border-box;
  }
a {
  text-decoration: none;
  color: rgb(255,255,255);
}
h1, h2 {
  text-transform: uppercase;

}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-bottom: 35px;
  color: rgb(51,59,70);
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}
p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 auto;
  max-width: 492px;
  font-size: 14px;
  line-height: 25px;
  color: rgb(129,134,142);
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
header {
  text-align: center;
  background: url("../img/BG_1.jpg") no-repeat;
  background-size: cover;
  color: rgb(255,255,255);
  min-height: 740px;
  padding-top: 40px;
  position: relative;
  nav {
    max-width: 1175px;
    margin: 0 auto;
    h1 {
      float: left;
      font-size: 24px;
      font-family: "DejaVuSansMono", sans-serif;

  }
    ul {
      float: right;
      font-family: 'Open Sans', sans-serif;
      li{
        display: inline-block;
        min-width: 80px;
        margin-right: 30px;
        line-height: 33px;
        border: 1px solid transparent;
        border-radius: 16px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          //background-color: #19bd99;
          border: 1px solid #ffffff;
        }
      }
    }
  }
  h2 {
    font-size: 35px;
    letter-spacing: 7px;
    line-height: 70px;
    margin-top: 215px;
  }
  p {
    max-width: 624px;
    font-size: 16px;
    line-height: 28px;
  }
  a.slide_down {
    display: block;
    background: url("../img/header_slide.png");
    height: 38px;
    width: 38px;
    margin: 0 auto;
    position: absolute;
    bottom: 75px;
    right: 48%;

  }
}
section.portfolio {
  background-color: #f3f3f3;
  padding: 88px 9% 100px ;
  h2 {

  }
  p {
    margin-bottom: 80px;
  }
}
section.TheTeam {
  h2 {

  }
  p {
    margin-bottom: 60px;
  }
}
.TeamDown {
   color: rgb(255,255,255);
   background: url("../img/bg_team_down.png") no-repeat;
   background-size: cover;
   padding: 57px;
   p {
     font-size: 20px;
     line-height: 25px;
     color: rgb(255,255,255);
   }
   a {
     font-size: 16px;
     line-height: 12px;
     display: block;
     margin: 0 auto;
     font-family: 'Open Sans', sans-serif;
     text-align: center;
   }
 }
section.contact {
  #map {
    min-height: 440px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid grey;
  }
}