@import "variables";
@import "mixin";
@import "normalize";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
@font-face {
  font-family: "DejaVuSans";
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
  font-family: "DejaVuSans-bold";
  src: url('../fonts/DejaVuSans-Bold.ttf') format('truetype');
}
  * {
    box-sizing: border-box;
  }
a {
  text-decoration: none;
  color: rgb(255,255,255);
  &:hover {
    cursor: pointer;
  }
}
h1, h2 {
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-family: $font-source;
  font-weight: 300;
  margin-bottom: 30px;
  color: rgb(51,59,70);
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
}
p {
  font-family: $font-open-sans;
  letter-spacing: 0.7px;
  text-align: center;
  margin: 0 auto;
  max-width: 492px;
  font-size: 14px;
  line-height: 25px;
  color: rgb(129,134,142);
}
ul {
  list-style: none;
  padding: 0;
}
li{
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
header {
  text-align: center;
  background: url("../img/BG_1.jpg") no-repeat;
  background-size: cover;
  color: rgb(255,255,255);
  min-height: 740px;
  padding-top: 20px;
  position: relative;
  nav {
    max-width: 1175px;
    margin: 0 auto;
    h1 {
      float: left;
      font-size: 24px;
      font-family: "DejaVuSans-bold", sans-serif;
      line-height: 67px;
  }
    ul {
      float: right;
      font-family: $font-open-sans;
      padding-left: 0;
      li{
        min-width: 80px;
        margin-right: 12px;
        line-height: 33px;
        border: 1px solid transparent;
        border-radius: 16px;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          //background-color: #19bd99;
          border: 1px solid #ffffff;
        }
      }
    }
  }
  h2 {
    font-size: 35px;
    letter-spacing: 7px;
    //line-height: 70px;
    margin-top: 195px;
    color: rgb(255,255,255);
  }
  p {
    max-width: 624px;
    font-size: 16px;
    line-height: 28px;
    color: rgb(255,255,255);
  }
  a.slide_down {
    display: block;
    background: url("../img/header_slide.png");
    height: 38px;
    width: 38px;
    margin: 0 auto;
    position: absolute;
    bottom: 75px;
    right: 48%;
    &:hover {
      transition: 0.5s;
      transform: scale(1.4);
    }
  }
}
section.portfolio {
  background-color: #f3f3f3;
  padding: 80px 9% 100px ;
  .gallery {margin: 0 auto;}
  p {
    margin-bottom: 75px;
  }
  .button-group {
    margin: 0 auto 55px;
    max-width: 375px;
    font-size: 0;
  }
  button {
    padding: 0 0 15px;
    border: none;
    border-bottom: 1.5px solid transparent;
    background: none;
    text-align: center;
    font-size: 16px;
    color: rgb(70,70,70);
    font-family: $font-open-sans;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:active, &:focus {
      outline: none;
    }
    &.is-checked {
      border-bottom: 1.5px solid #19bd99;
    }
    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
  .element-item {
    border: 5px solid #f3f3f3;
    width: 270px;

  }
}
@media all and (max-width: 1315px){
  section.portfolio {
    padding: 88px 5% 100px ;
  }
}
ul.slick-dots li {
    margin: 0 2px;
    font-size: 0;
    width: 15px;
  height: 15px;
    button {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid #19bd99;
      padding: 2px;
      &:before {
        opacity: 0;
        color: transparent;
      }
    }
    &.slick-active {
      button {
        background-color: #19bd99;
        &:before {opacity: 0;}
      }
    }
  }

section.TheTeam {
  h2 {
    margin-top: 75px;
  }
  p {
    margin-bottom: 60px;
  }
  .slick-slider {
    margin-bottom: 120px;
    .slide {
      .forSlides {
        display: flex;
        justify-content: space-between;
        width: 75%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 50px;
        .image {
          position: relative;
          height: max-content;
          .hover {
            display: none;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            opacity: 0.5;
            border: 8px solid #e9e7e8;
            text-align: center;
            padding-top: 48%;
            ul li {
              height: 31px;
              width: 31px;
              background-size: cover;
            }
          }
          &:hover {
            .hover{
              display: block;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      .text {
        text-align: right;
        padding-right: 45px;
        h3, h4 {
          border-right: 4px solid #19bd99;
          margin-right: -45px;
          padding-right: 41px;
        }
        h3 {
          font-size: 20px;
          //line-height: 36px;
          letter-spacing: 1px;
          color: rgb(70,70,70);
          font-family: $font-open-sans;
          font-weight: 300;
          margin-bottom: 0;
          margin-top: 20px;
        }

        h4 {
          font-size: 14px;
          line-height: 36px;
          letter-spacing: 1.5px;
          color: rgb(129,134,142);
          font-family: $font-source;
          font-weight: 300;
          font-style: italic;
          text-align: right;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 20px;
        }
        p{
          max-width: 373px;
          font-size: 14px;
          line-height: 25px;
          color: rgb(129,134,142);
          text-align: right;
          letter-spacing: 0.5px;
          margin-bottom: 0;
        }
      }
      }
    }
  }
}

.TeamDown {
   color: rgb(255,255,255);
   background: url("../img/bg_team_down.png") no-repeat;
   background-size: cover;
   padding: 57px;
   p {
     font-size: 20px;
     line-height: 25px;
     color: rgb(255,255,255);
     margin-bottom: 27px;
     letter-spacing: 0.8px;
   }
   a {
     font-size: 16px;
     line-height: 36px;
     display: block;
     margin: 0 auto;
     font-family: $font-open-sans;
     text-align: center;
     width: 140px;
     border-radius: 19px;
     background-color: transparent;
     border: 1px solid #ffffff;
     &:hover {
       transition: 0.5s;
       transform: scale(1.1);
       font-weight: bold;
       border: 3px solid #ffffff;
     }
   }
 }
.testimonilas {
  padding-top: 77px;
  padding-bottom: 100px;
  background-color: #f3f3f3;
  .containerForSecondSlider {
    background-color: white;
    padding-bottom: 50px;
    max-width: 1170px;
    margin: 0 auto;
  }
    h2 {
      color: rgb(51, 59, 70);
      line-height: 18px;
    }
    p {
      color: rgb(129, 134, 142);
      margin-bottom: 60px;
    }

  }

.slider_2 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: white;
  padding: 52px 95px 0;
  img {
    width: 130px;
    height: 130px;
  }
  .text {
    margin-bottom: 35px;
    p {
      max-width: 757px;
      letter-spacing: 1px;
      line-height: 28px;
      color: rgb(129,134,142);
      font-family: $font-open-sans;
      text-align: left;
      font-size: 16px;
      margin-bottom: 0;
      &:nth-child(2){
        color: rgb(25,189,154);
        font-weight: bold;
        margin-top: 17px;
      }
      &:nth-child(3){
        font-size: 14px;
        line-height: 20px;
        color: rgb(70,70,70);
        //margin-bottom: 45px;
      }
    }
  }
}


section.contact {
  padding-top: 70px;
  p {
    margin-bottom: 68px;
  }
  #map {
    min-height: 440px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
  }
}

footer {
  padding: 70px 0;
  h5 {
    text-transform: uppercase;
    font-family: "DejaVuSans-bold", sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    color: rgb(0,0,0);
    margin: 0 0 16px;
  }
  p {
    margin-bottom: 40px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
  ul {
  max-width: 175px;
  margin: 0 auto;
  font-size: 0;

 }
}
.social li {
     display: inline-block;
     width: 26px;
     height: 26px;
     margin-right: 10px;
     &:nth-child(1) {
       background-image: url("../img/icon_footer_faceb.png");
     }
     &:nth-child(2) {
       background-image: url("../img/icon_footer_twit.png");
     }
     &:nth-child(3) {
       background-image: url("../img/icon_footer_in.png");
     }
     &:nth-child(4) {
       background-image: url("../img/icon_footer_insta.png");
     }
     &:nth-child(5) {
       background-image: url("../img/icon_footer_v.png");
       margin-right: 0;
     }
     a {
       display: block;
       height: 100%;
     }
   }